# To be removed when final version is published
lammps-tutorials.pdf

# LaTex files for the manuscript
lammps-tutorials.aux
lammps-tutorials.log
lammps-tutorials.out
lammps-tutorials.bbl
lammps-tutorials.blg
lammps-tutorials.suppinfo
lammps-tutorials.fls
lammps-tutorials.synctex*
lammps-tutorials.fdb*

# LaTex files for the presubmission letter
presubmission-letter/*.log
presubmission-letter/*.pdf
presubmission-letter/*.aux
presubmission-letter/*.out

# Python files
__pycache__
**/__pycache__
*.pyc

_region_.*
/auto
*~
*.orig
*.rej

# LAMMPS output files
dump.*.jpg
dump.*.ppn
dump.*.ppm