[submodule "files/pyplot-perso"]
	path = files/shared-pyplot
	url = git@github.com:simongravelle/pyplot-perso.git
	branch = LAMMPS-livecom
[submodule ".dependencies/.github"]
	path = .dependencies/.github
	url = git@github.com:lammpstutorials/.github.git
