
lammps-tutorials.aux
lammps-tutorials.log
lammps-tutorials.out
lammps-tutorials.bbl
lammps-tutorials.blg
lammps-tutorials.suppinfo
lammps-tutorials.fls
lammps-tutorials.synctex*
lammps-tutorials.fdb*

presubmission-letter/*.log
presubmission-letter/*.pdf
presubmission-letter/*.aux
presubmission-letter/*.out

__pycache__
**/__pycache__

_region_.tex
/auto
*~
